<button {{action 'sortByCost'}}>Cheapest to Most Expensive</button>
<button {{action 'sortByAge'}}>Newest to Oldest</button>
<ul>
  {{#each sortedListings as |listing|}}
    {{#if (eq listing.category.id selectedCategory.id)}}
      {{listing-tile listing=listing}}
    {{/if}}
  {{/each}}
  {{#each sortedListings as |listing|}}
    {{#if (eq all selectedCategory)}}
      {{listing-tile listing=listing}}
    {{/if}}
  {{/each}}
</ul>
